.markdown {
  width: 100%;
  color: #FFF;
  letter-spacing: 1px;
  font-size: 14px;
}

/* For HEADERS */
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  display: flex;
  align-items: center;
  margin-top: 16px;
  font-weight: 600;
}

.markdown h1 a,
.markdown h2 a,
.markdown h3 a,
.markdown h4 a,
.markdown h5 a,
.markdown h6 a {
  display: none;
}

.markdown h1 {
  font-size: 3em;
}

.markdown h2 {
  font-size: 2em;
}

.markdown h3 {
  font-size: 1.5em;
}

.markdown h4 {
  font-size: 1.125em;
}

.markdown h5 {
  font-size: 1em;
}

.markdown h6 {
  font-size: 0.75em;
}

/* FOR INDEXING */
.markdown div {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 8px;
}
.markdown div h1, .markdown div h2, .markdown div h3, .markdown div h4, .markdown div h5, .markdown div h6 {
  margin: 0;
}
.markdown div ol {
  padding: 4px;
  margin-left: 16px;
}

/* FOR PARAGRAPHS */
.markdown p {
  font-size: 1em;
}

.markdown p strong em {
  opacity: 0.5;
  font-size: 0.75em;
  margin-bottom: 16px;
  display: inline-block;
}

.markdown p code {
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
  font-weight: 900;
  padding: 1px 4px;
  border-radius: 8px;
}

/* FOR UNORDERED LISTS AND ORDERED LISTS */
.markdown ul {
  list-style: disc;
  list-style-type: disc;
  list-style-position: inside;
}
.markdown ul li {
   margin-bottom: 8px;
 }
 .markdown ul li p {
   display: inline;
 }

 .markdown ol {
  list-style-type: decimal;
  list-style-position: inside;
}
.markdown ol li {
   margin-bottom: 8px;
 }
 .markdown ol li p {
   display: inline;
 }

/* FOR CUSTOM BLOCKS */

/* FOR IMAGES */

.markdown img {
  margin: 16px 0;
  max-height: 400px;
}

.markdown img[alt^="cover-"] {
  max-height: 700px;
}

/* FOR BLOCKQUOTES */

.markdown blockquote {
  font-size: 0.75em;
  opacity: 0.75;
}

.markdown p + blockquote {
  display: block;
  margin: 16px;
  padding: 8px;
  border-left: #FFF solid 2px;
  background-color: rgba(0, 0, 0, 0.5);
}

/* FOR ANCHORS */

.markdown a {
  text-decoration: underline;
}

/* FOR HIGHLIGHT CODE */

.markdown .highlight {
  position: relative;
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

.markdown .highlight .copy-button {
  position: absolute;
  right: 10px;
  top: 5px;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* FOR HIGHLIGHTING CSS CODE*/

.markdown .highlight.highlight-source-css pre {
  width: 100%;
  overflow-x: auto;
  margin: 32px 0;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.markdown .highlight.highlight-source-css .token {
  color: green;
}

.markdown .highlight.highlight-source-css .token.punctuation {
  color: white;
}

.markdown .highlight.highlight-source-css .token.property {
  color: rgb(177, 0, 177);
}

.markdown .highlight.highlight-source-css .token.function {
  color: rgb(234, 160, 0);
}

.markdown .highlight.highlight-source-css .token.string {
  color: rgb(0, 157, 254);
}

/* FOR TABLET SCREENS */

@media screen and (min-width: 500px) {

  .markdown {
    font-size: 16px;
  }

  .markdown img {
    margin: 32px auto;
  }
}