*,
*::before,
*::after {
  box-sizing: boder-box;
}

* {
  margin: 0;
}

button {
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

button,
[role="button"] {
  cursor: pointer;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

img,
svg {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'Montserrat';
  src: local(sans-serif),
    url('fonts/montserrat-black-webfont.woff2') format('woff2'),
    url('fonts/montserrat-black-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local(sans-serif),
    url('fonts/montserrat-regular-webfont.woff2') format('woff2'),
    url('fonts/montserrat-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 12px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.faded-text::after {
  content: '';
  position: fixed;
  bottom: 55px;
  width: 85%;
  height: 30px;
  opacity: 0;
  background: linear-gradient(#1e293b00, #1e293b);
  --delay-ms: 1000ms;
}

.faded-text::before {
  content: '';
  position: fixed;
  width: 85%;
  top: 0px;
  left: 0;
  height: 30px;
  background: linear-gradient(#1e293b, #1e293b00);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1300px) {
  html {
    font-size: 20px;
  }
}