.fake-attributes {
   font-family: monospace, 'Montserrat', sans-serif;
}

.fake-attributes .attribute {
   transition: max-width 1000ms ease, opacity 500ms linear;
   display: inline-block;
   max-width: 0px;
   opacity: 0;
}

.fake-attributes:hover .attribute {
   transition: max-width 500ms ease, opacity 1000ms linear;
   max-width: 6rem;
   opacity: 1;
}

.fake-attributes:active .attribute {
   transition: max-width 500ms ease, opacity 1000ms linear;
   max-width: 6rem;
   opacity: 1;
}